doctype html
html
    head
        include ../head
    body
        include ../navbar
        .container
            .row
                h3.text-center 欢迎, #{mail}
                #messageAlert
            .row
                .col-lg-6.col-center-block
                    .panel.panel-primary
                        .panel-heading
                            h4.panel-title.text-center 家庭作业
                        .panel-body
                            for punchingHomework,index in punchingHomeworks
                                p
                                    strong #{punchingHomework.mail}
                                    br
                                    | 已经按时完成作业
                                    span.lead
                                        ins
                                            strong.text-success #{punchingHomework.count}
                                    |  次
                                if punchingHomework.today
                                    .alert.alert-success 今天已经按时完成打卡
                                else
                                    .alert.alert-warning 今天还没有打卡
                                    button.btn.btn-block.btn-danger(id='punching_#{index}' type='button' onclick='punchingHomeworkFor(\"#{punchingHomework.mail}\")') 帮他打卡

                            a#recordsButton.btn.btn-block.btn-info(type='button' href='/exercises/punching/records/homeworkPage') 打卡记录

            .row
                .col-lg-6.col-center-block

                    .panel.panel-primary
                        .panel-heading
                            h4.panel-title.text-center 单词
                        .panel-body
                            .list-group
                                a.list-group-item(href='/exercises/words') 单词控制台
                                a.list-group-item(href='/exercises/words/memorizing') 今日单词
                                a.list-group-item(href='/exercises/words/create') 创建单词

                    .panel.panel-primary
                        .panel-heading
                            h4.panel-title.text-center 练习
                        .panel-body
                            .list-group
                                a.list-group-item(href='/exercises/create') 创建题目
                                a.list-group-item(href='/exercises') 我的题目(TBC)


            .row
                .col-lg-6.col-center-block
                    a.btn.btn-block.btn-success(href='/users/link-user' style='margin-bottom: 10px;') 设置关联账号

            .row
                .col-lg-6.col-center-block
                    a.btn.btn-danger.btn-block(href='/users/logout') 注销

        script(src='http://cdn.bootcss.com/require.js/2.3.2/require.min.js' async='true' defer data-main='/javascripts/users/profile_parent.js')


