doctype html
html
    head
        include ../head
    body
        include ../navbar
        .container
            .row.col-lg-12.jumbotron
                h3.text-center.text-info= title
            form#register.form-horizontal.col-lg-6.col-lg-offset-3(action='/users/register' method='POST')
                .form-group
                    label.control-label.col-lg-2(for='username') 邮箱名
                    .col-lg-10
                        input#username.form-control(type='email' name='mail' placeholder='Email address' required=true autofocus=true)
                .form-group
                    label.control-label.col-lg-2(for='password') 密码
                    .col-lg-10
                        input#password.form-control(type='password' name='password' placeholder='Password' required=true)
                .form-group
                    label.control-label.col-lg-2(for='re_password') 确认密码
                    .col-lg-10
                        input#re_password.form-control(type='password' name='repassword' placeholder='Password' required=true)
                .form-group
                    .col-lg-10.col-lg-offset-2
                        label.radio-inline
                            input#isStudent(type='radio' name='isStudentOrParent' value='student' required=true)
                            | 我是学生
                        label.radio-inline
                            input#isParent(type='radio' name='isStudentOrParent' value='parent')
                            | 我是家长
                .form-group
                    .col-lg-10.col-lg-offset-2
                        button.btn.btn-primary.btn-block(type='submit') 注册
                .form-group
                    .col-lg-10.col-lg-offset-2
                        a.btn.btn-info.form-control(href='/users/login') 已有账户？登录
            .row
                .col-lg-5.col-lg-offset-4
                    p#message.alert.alert-info 请用email注册

        script(src='/javascripts/require.js' async='true' defer data-main='/javascripts/users/register.js')