doctype html
html
    head
        include ../head
        link(rel='stylesheet', href='http://cdn.bootcss.com/iCheck/1.0.2/skins/square/green.css')
        script(src='http://cdn.bootcss.com/iCheck/1.0.2/icheck.min.js')
        link(rel='stylesheet', href='/stylesheets/exercises.css')
    body
        include ../navbar
        .container
            .row
                p.lead
                    h4 练习题
            .row
                #exercisesList.col-lg-12
                    each exercise in exercises
                        .panel.panel-primary
                            .panel-heading
                                h4= exercise.title
                            .panel-body
                                h5= exercise.description
                                ul.exercise-list
                                    each option, i in exercise.options
                                        - var optionId = exercise._id + '_' + i
                                        li.exercise-section
                                            input(id='#{optionId}' type='radio' name='#{exercise._id}')
                                            label(for='#{optionId}') #{option}


        script(src='http://cdn.bootcss.com/require.js/2.3.2/require.min.js' async='true' defer data-main='/javascripts/exercises/home.js')
